@import '../css/default.min.css'; //styles for code view
@import 'compass/css3';
@import 'vars';

.sg-clearfix {
    @extend %clearfix;
}

.sg-html,
.sg-body {
    height: 100%;
}

.sg-body {
    background-color: $bg-body-color;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.sg-page {
    background-color: $bg-page-color;
    border-right: solid 1px $border-color;
    box-sizing: border-box;
    max-width: 1280px;
    min-height: 100%;
    min-width: 980px;
    position: relative;
}

.sg-wrapper {
    background: $bg-page-color;
    margin-left: 275px;
    overflow: hidden;
    padding: 60px 40px 40px 100px;
    position: relative;
    z-index: 10;
}

//Module Sidebar
.sg-page-title {
    border-bottom: 1px solid $border-black-color;
    color: $text-page-color;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 36px;
    margin: 0 -40px 80px 0;
    @include font-extrabold();
    padding: 0 40px 4px 0;
    position: relative;
    text-align: right;
    text-transform: uppercase;

    span {
        float: left;
    }
}

.sg-sidebar-holder {
    @include position(fixed, 0 null 0 null);
    background: $bg-sidebar-color;
    box-sizing: border-box;
    padding: 60px 40px 30px 40px;
    width: 275px;
}

.sg-sidebar-title {
    text-transform: uppercase;

    span {
        color: $text-sidebar-color;
        display: block;
        font-size: 14px;
        line-height: 20px;
        @include font-light();
    }
}

.sg-project-name {
    color: $text-light-color;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0;
    @include font-semibold();
    padding: 0;
}

.sg-sidebar-list {
    @extend %list-style;
    padding: 30px 0 40px;

    > li:before {
        content: attr(data-counter);
        position: absolute;
        right: 0;
        @include transition(all 200ms ease-in-out);
    }

    li {
        background: none;
        color: $text-sidebar-color;
        font-size: 14px;
        line-height: 34px;
        padding: 0 36px 0 0;
        position: relative;

        &:hover,
        &.active {
            a {
                color: $text-sidebar-active-color;
            }
        }

        a {
            @extend %ellipsis;
            color: $text-sidebar-color;
            @include transition(all 200ms ease-in-out);
            display: block;
            font-size: 14px;
        }

        ul {
            margin: 0;
            padding: 0 0 0 25px;
        }

        li {
            padding: 0;

            a {
                height: 34px;
                overflow: hidden;
            }

            &:before {
                content: attr(data-counter);
                @include position(absolute, null -36px null null);
                @include transition(all 200ms ease-in-out);
            }

            &:first-child {

                &:after {
                    content: '';
                    @include size(7px 17px);
                    top: 0;
                }
            }

            &:after {
                border-bottom: solid 1px $text-sidebar-color;
                @include position(absolute, -17px null null -18px);
                @include size(7px 34px);
                border-left: solid 1px $text-sidebar-color;
                content: '';
            }
        }
    }
}

//Module Snippet
.sg-snippet-view {
    padding: 40px 0 20px;
    @extend %clearfix;
}
.snippet-container {
    margin-bottom: 44px;
}
.sg-snippet-title {
    position: relative;
    z-index: 11;
    margin: -20px -40px 0 0;
    padding: 20px 40px 8px 0;
    border-bottom: 1px solid $border-black-color;
    color: $text-page-color;
    @include font-light();
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
    a {
        @include position(absolute, null 40px -14px null);
        display: block;
        @include size(29px);
        cursor: pointer;
    }
    span {
        position: relative;
        z-index: 10;
        display: block;
        box-sizing: content-box;
        @include size(28px);
        padding: 0;
        margin: 0;
        border: 1px solid $border-black-color;
        background: $bg-page-color;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        @include border-radius(50%);
        @include transition(all 300ms linear);
        &:before {
            content: "";
            @include position(absolute, null 7px 13px null, 10);
            @include size(14px 1px);
            background: $border-black-color;
            @include rotate(90deg);
        }
        &:after {
            content: "";
            @include position(absolute, null 6px 13px null, 10);
            @include size(15px 1px);
            background: $border-black-color;
            @include transition(all 150ms linear);
            @include transition-delay(150ms);
        }
        &.active {
            @include rotate(-270deg);
            &:after {
                @include rotate(90deg);
            }
        }
    }
}
.sg-snippet-description {
    position: relative;
    padding: 30px 0;
    border-bottom: 1px solid $border-light-color;
    @include font-regular();
    font-size: 14px;
    line-height: 1.5em;
    color: $text-page-color;
    &:after {
        content: "";
        display: block;
        @include size(50px 1px);
        @include position(absolute, null -50px -1px null, 1);
        border-bottom: 1px solid $border-light-color;
    }
    &.sg-important {
        padding-left: 40px;
        &:before {
            content: "!";
            @include position(absolute, 22px null null 10px);
            @include size(23px 30px);
            font-family: "Georgia", sans-serif;
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            line-height: 30px;
        }
    }
    h2 {
        margin: 40px 0 15px;
        padding: 0;
        @include font-extrabold;
        font-size: 26px;
        line-height: 1.3em;
        text-transform: none;
        color: $text-page-color;
        &.sg-headline{
            font-size: 40px;
        }
    }
    h3 {
        margin: 30px 0 15px;
        padding: 0;
        @include font-bold;
        font-size: 20px;
        line-height: 1.3em;
        text-transform: none;
        color: $text-page-color;
    }
    h4 {
        margin: 25px 0 15px;
        padding: 0;
        @include font-bold;
        font-size: 16px;
        line-height: 1.3em;
        text-transform: none;
        color: $text-page-color;
    }
    h5 {
        margin: 15px 0;
        padding: 0;
        @include font-bold;
        font-size: 14px;
        line-height: 1.3em;
        text-transform: none;
        color: $text-page-color;
    }
    p {
        margin: 15px 0;
        padding: 0;
        @include font-regular;
        font-size: 14px;
        line-height: 1.5em;
        text-transform: none;
        color: $text-page-color;
        &.sg-headline{
            font-size: 26px;
            font-weight: 200;
            margin-bottom: 100px;
        }
    }
    ul {
        list-style: square;
        margin: 0;
        padding: 0 0 0 40px;
    }
    ol{
        margin: 0;
        padding: 0 0 0 40px;
    }
    li ol, li ul{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    li {
        @include font-regular;
        font-size: 14px;
        line-height: 1.5em;
        text-transform: none;
        margin: 0 0 5px;
        background: none;
        padding: 0;
    }
    strong {
        @include font-bold;
    }
    a{
        color: $text-page-color;
        text-decoration: none;
        border-bottom: $text-page-color solid 1px;
        &:hover{
            border-color: $border-color;
            color: $text-page-color;
        }
    }
}
.sg-snippet-code {
    position: relative;
    margin: -1px -40px 0 0;
    padding: 0;
    background: #FAFAFA;
    border-bottom: 1px solid $border-light-color;
    font-size: 13px;
    &:after {
        content: "";
        @include position(absolute, null -50px -1px null);
        display: block;
        @include size(50px 1px);
        border-bottom: 1px solid $border-light-color;
    }
    pre {
        position: relative;
        height: 0;
        margin: 0;
        padding: 0 20px;
        @include transition(all 400ms ease);
        overflow: auto;
        white-space: pre;
        code {
            @include position(absolute, null null 0 null);
            border: none;
            padding: 30px 0 25px;
            color: $text-page-color;
            background: transparent;
        }
    }
}
.sg-category-container {
    margin: 0 0 30px 0;
    padding: 0 0 20px;
}

//Module Code
.code-sample {
    display: block;
    background: #FAFAFA;
    margin: 20px 0 20px 35px;
    padding: 2px 10px;
    font-size: 14px;
    line-height: 1.5em;
    border-left: solid 2px $border-black-color;
    white-space: pre;
    word-wrap: initial;
    
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    li &{
        margin-left: 0;
    }
}
span.code-sample {
    display: inline-block;
    margin: 0 2px;
    padding: 0 5px;
    border: #E4E4E4 solid 1px;
    border-radius: 3px;
    font-family: monospace;
}

//Module Color Snippet
.sg-color-block {
    position: relative;
    width: 50%;
    min-width: 385px;
    min-height: 170px;
    float: left;
    &:nth-child(odd) {
        clear: both;
    }
    &.sg-color-block-small {
        min-width: 190px;
        width: 25%;
        .sg-color-palette {
            position: relative;
        }
        &:nth-child(odd) {
            clear: none;
        }
    }
}
.sg-color-palette {
    @include position(absolute, -15px null null -15px, 10);
    @include size(166px);
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    @include font-regular();
    box-sizing: border-box;
    @include border-radius(100%);
    border: 15px solid $bg-page-color;
    &.dark {
        color: $text-light-color;
    }
    &.white {
        box-shadow: 0 0 1px 0 rgba($border-black-color, 0.4) inset;
        color: $text-page-color;
    }
}
.sg-palette-inner {
    display: table-cell;
    vertical-align: middle;
    @include size(166px 135px);
    padding: 0 7px;
}
.sg-color-variables {
    padding: 7px 80px 39px 90px;
    min-height: 127px;
    @extend %list-style;
    li {
        color: $text-page-color;
        padding: 0 0 0 73px;
        border-bottom: solid 1px $border-color;
        line-height: 31px;
        font-size: 13px;
        &:first-child {
            border-top: solid 1px $border-color;
        }
    }
}

//Module Typography
.sg-typography {
    position: relative;
    padding: 0 210px 0 0;
    margin: 40px 0 0;
}
.sg-typography-info {
    @include position(absolute, 5px 0 null null);
    color: $text-page-color;
    display: block;
    width: 145px;
    @include font-regular;
    font-size: 12px;
    line-height: 1.2em;
    &:before, &:after {
        content: "";
        display: block;
        background: $text-page-color;
    }
    &:before {
        @include position(absolute, 5px null null -23px);
        @include size(5px);
        border-radius: 100%;
    }
    &:after {
        @include position(absolute, 7px null null -23px);
        @include size(15px 1px);
    }
}
.sg-font-wrapper {
    color: $text-page-color;
    padding: 35px 0 30px 0;
    margin-right: -40px;
    border-bottom: 1px solid $border-light-color;
    font-size: 14px;
    @include font-regular;
    &:first-child {
        padding-top: 0;
    }
}
.sg-font-example {
    margin-top: 10px;
    font-size: 29px;
    line-height: 50px;
}
#sg-pagination {
    @include position(fixed, 90px null null 0);
}

[contentEditable="true"] {
    @extend %outline-none;
}

.example {
    .columns{
        outline: solid 1px $border-strong-color;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 0px;
        outline-offset: -3px;
    }
}
