{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "objectLiteralDuplicateProperties": false,
    "modules": true,
    "jsx": true
  },
  "plugins": [
    "react",
    "lodash"
  ],
  "rules": {
    "arrow-parens": 1,
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "camelcase": 0,
    "comma-dangle": 2,
    "curly": 2,
    "eqeqeq": 0,
    "jsx-quotes": 2,
    "new-cap": 0,
    "no-alert": 0,
    "no-cond-assign": 2,
    "no-console": 1,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-class-members": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-else-return": 1,
    "no-empty": 2,
    "no-empty-character-class": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 0,
    "no-extra-semi": 0,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-label-var": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-shadow": 2,
    "no-sparse-arrays": 2,
    "no-undef": 2,
    "no-unneeded-ternary": 1,
    "no-underscore-dangle": 0,
    "no-unexpected-multiline": 2,
    "no-unreachable": 1,
    "no-unused-vars": 2,
    "no-use-before-define": 0,
    "quotes": [
      1,
      "single"
    ],
    "semi": 2,
    "strict": 0,
    "use-isnan": 2,
    "valid-jsdoc": 0,
    "valid-typeof": 2,
    "react/display-name": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-no-undef": 1,
    "react/sort-prop-types": 1,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 0,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 1,
    "react/require-extension": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 0,
    "react/wrap-multilines": 1,
    "devbridge-gt-v2/no-deprecated-lodash-func": 2,
    "lodash/callback-binding": 2,
    "lodash/no-extra-args": 2,
    "lodash/preferred-alias": 2,
    "lodash/unwrap": 1,
    "lodash/no-double-unwrap": 2,
    "lodash/collection-method-value": 2,
    "lodash/collection-return": 2,
    "lodash/no-single-chain": 2,
    "lodash/prefer-chain": 2
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "browser": true,
    "expect": true
  }
}
