{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "import/prefer-default-export": 1,
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "no-unused-vars": 0
    }
}
