/* ========= Responsive Layout =============
    1200px =  responsive max width (vary by layout)
    1024px - 768px = iPad
    600px = Kindle Fire
    480px - 320px = iPhone
  ========================================*/

/* Temp - Show query info */
body:after {
    content: 'Default';
    position: fixed;
    bottom: 0;
    left: 0;
    background: #666;
    padding: 5px 10px;
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    z-index: 9999
}

@media screen and (max-width: 1230px) {
    body:after {
        content: 'Media query: Max 1230px';
        color: #47BDFF;
    }
}

@media screen and (max-width: 1024px) {
    body:after {
        content: 'Max 1024px';
        color: #F1A214;
    }
}

@media screen and (max-width: 960px) {
    body:after {
        content: 'Max 960px';
        color: #00fa9a;
    }
}

@media screen and (max-width: 768px) {
    body:after {
        content: 'Max 768px';
        color: #ee82ee;
    }
}

@media screen and (max-width: 600px) {
    body:after {
        content: 'Max 600px';
        color: #00bfff;
    }
}

@media screen and (max-width: 480px) {
    body:after {
        content: 'Max 480px';
        color: #f08080;
    }
}

@media screen and (max-width: 320px) {
    body:after {
        content: 'Max 320px';
        color: #ffff00;
    }
}
