// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/

//MAIN COLOR PALETTE
$color-black: #000;
$color-white: #fff;
$color-gray: #fff;

//COMMON COLORS

//LINK COLORS

//SELECTION COLORS
