//variables MAIN COLORS
// NOTE: These variables should never be used in your style declarations. Only assign to other variables.
$color-black: #000;
$color-shark: #292a2f;
$color-ship-gray: #404041;
$color-tundora: #4d4d4d;
$color-gray: #808080;
$color-silver: #ccc;
$color-mercury: #e6e6e6;
$color-athens-gray: #f1f1f2;
$color-alabaster: #fafafa;
$color-white: #fff;

//variables APPLIED COLORS
$bg-body-color: $color-athens-gray;
$bg-page-color: $color-white;
$bg-sidebar-color: $color-shark;

$text-page-color: $color-ship-gray;
$text-sidebar-color: $color-gray;
$text-sidebar-active-color: $color-white;
$text-light-color:$color-white;

$border-light-color: $color-athens-gray;
$border-color: $color-mercury;
$border-strong-color: $color-tundora;
$border-black-color: $color-shark;

//variables FONTS
$font-family: 'Open Sans', sans-serif;
$font-weight-extra-bold: 800;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-normal: 400;
$font-weight-light: 300;

//variables SIDEBAR
$sidebar-width: 275px;