@mixin clearfix($extend: true) {
    @if $extend {
        @extend %clearfix;
    }
    @else {
        &:after {
            content: ‘’;
            display: table;
            clear: both;
        }
    }
}

%clearfix {
    @include clearfix($extend: false);
}

@mixin box-sizing {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%box-sizing {
    @include box-sizing;
}