.sg-clearfix:before, .sg-snippet-view:before, .sg-clearfix:after, .sg-snippet-view:after {
  content: "";
  display: table; }
.sg-clearfix:after, .sg-snippet-view:after {
  clear: both; }

.sg-sidebar-list li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

[contentEditable="true"]:focus {
  outline: none; }

.sg-sidebar-list, .sg-color-variables {
  margin: 0; }
  .sg-sidebar-list li, .sg-color-variables li {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    list-style: none; }
    .sg-sidebar-list li a, .sg-color-variables li a {
      text-decoration: none;
      text-transform: none; }

.sg-html, .sg-body {
  height: 100%; }
.sg-body {
  background-color: #f1f1f2;
  margin: 0;
  overflow: auto;
  padding: 0; }
.sg-page {
  background-color: #fff;
  border-right: solid 1px #e6e6e6;
  box-sizing: border-box;
  max-width: 1280px;
  min-height: 100%;
  min-width: 980px;
  position: relative; }
  .sg-page-title {
    border-bottom: 1px solid #292a2f;
    color: #404041;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 36px;
    margin: 0 -40px 80px 0;
    padding: 0 40px 4px 0;
    position: relative;
    text-align: right;
    text-transform: uppercase; }
    .sg-page-title span {
      float: left; }
.sg-wrapper {
  background: #fff;
  margin-left: 275px;
  overflow: hidden;
  padding: 60px 40px 40px 100px;
  position: relative;
  z-index: 10; }
.sg-sidebar-holder {
  position: fixed;
  top: 0;
  bottom: 0;
  
  background: #292a2f;
  box-sizing: border-box;
  padding: 60px 40px 30px 40px;
  width: 275px; }
.sg-sidebar-title {
  text-transform: uppercase; }
  .sg-sidebar-title span {
    color: #808080;
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
.sg-sidebar-list {
  padding: 30px 0 40px; }
  .sg-sidebar-list > li:before {
    content: attr(data-counter);
    position: absolute;
    right: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
  .sg-sidebar-list li {
    background: none;
    color: #808080;
    font-size: 14px;
    line-height: 34px;
    padding: 0 36px 0 0;
    position: relative; }
    .sg-sidebar-list li:hover a, .sg-sidebar-list li.active a {
      color: #fff; }
    .sg-sidebar-list li a {
      color: #808080;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
      display: block;
      font-size: 14px; }
    .sg-sidebar-list li ul {
      margin: 0;
      padding: 0 0 0 25px; }
    .sg-sidebar-list li li {
      padding: 0; }
      .sg-sidebar-list li li a {
        height: 34px;
        overflow: hidden; }
      .sg-sidebar-list li li:before {
        content: attr(data-counter);
        position: absolute;
        right: -36px;
        
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out; }
      .sg-sidebar-list li li:first-child:after {
        content: '';
        height: 17px;
        width: 7px;
        top: 0; }
      .sg-sidebar-list li li:after {
        border-bottom: solid 1px #808080;
        position: absolute;
        top: -17px;
        left: -18px;
        
        height: 34px;
        width: 7px;
        border-left: solid 1px #808080;
        content: ''; }
.sg-project-name {
  color: #fff;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 0; }
.sg-category-container {
  margin: 0 0 30px;
  padding: 0 0 20px; }
.sg-typography {
  margin: 40px 0 0;
  padding: 0 210px 0 0;
  position: relative; }
  .sg-typography-info {
    position: absolute;
    top: 5px;
    right: 0;
    
    color: #404041;
    display: block;
    width: 145px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2em; }
    .sg-typography-info:before, .sg-typography-info:after {
      content: '';
      display: block;
      background: #404041; }
    .sg-typography-info:before {
      position: absolute;
      top: 5px;
      left: -23px;
      
      height: 5px;
      width: 5px;
      border-radius: 100%; }
    .sg-typography-info:after {
      position: absolute;
      top: 7px;
      left: -23px;
      
      height: 1px;
      width: 15px; }
.sg-code-sample {
  background: #FAFAFA;
  border-left: solid 2px #292a2f;
  display: block;
  font-size: 14px;
  line-height: 1.5em;
  margin: 20px 0 20px 35px;
  padding: 2px 10px;
  white-space: pre;
  word-wrap: initial; }
  .sg-code-sample::-webkit-scrollbar {
    height: 5px;
    width: 5px; }
  li .sg-code-sample {
    margin-left: 0; }

span.sg-code-sample {
  display: inline-block;
  margin: 0 2px;
  padding: 0 5px;
  border: #E4E4E4 solid 1px;
  border-radius: 3px;
  font-family: monospace; }

#sg-pagination {
  position: fixed;
  top: 90px;
  left: 0;
   }

.example .columns {
  outline: solid 1px #4d4d4d;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  outline-offset: -3px; }

.sg-clearfix:before, .sg-snippet-view:before, .sg-clearfix:after, .sg-snippet-view:after {
  content: "";
  display: table; }
.sg-clearfix:after, .sg-snippet-view:after {
  clear: both; }

.sg-sidebar-list li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

[contentEditable="true"]:focus {
  outline: none; }

.sg-sidebar-list, .sg-color-variables {
  margin: 0; }
  .sg-sidebar-list li, .sg-color-variables li {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    list-style: none; }
    .sg-sidebar-list li a, .sg-color-variables li a {
      text-decoration: none;
      text-transform: none; }

.sg-color-block {
  float: left;
  min-height: 170px;
  min-width: 385px;
  position: relative;
  width: 50%; }
  .sg-color-block:nth-child(odd) {
    clear: both; }
  .sg-color-block.sg-color-block-small {
    min-width: 190px;
    width: 25%; }
    .sg-color-block.sg-color-block-small .sg-color-palette {
      position: relative; }
    .sg-color-block.sg-color-block-small:nth-child(odd) {
      clear: none; }
.sg-color-palette {
  border: 15px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 10;
  height: 166px;
  width: 166px;
  text-align: center; }
  .sg-color-palette.dark {
    color: #fff; }
  .sg-color-palette.light {
    box-shadow: 0 0 1px 0 rgba(41, 42, 47, 0.4) inset;
    color: #404041; }
  .sg-color-palette-inner {
    display: table-cell;
    padding: 0 7px;
    height: 135px;
    width: 166px;
    vertical-align: middle; }
.sg-color-variables {
  padding: 7px 80px 39px 90px;
  min-height: 127px; }
  .sg-color-variables li {
    border-bottom: solid 1px #e6e6e6;
    color: #404041;
    font-size: 13px;
    line-height: 31px;
    padding: 0 0 0 73px; }
    .sg-color-variables li:first-child {
      border-top: solid 1px #e6e6e6; }

.sg-clearfix:before, .sg-snippet-view:before, .sg-clearfix:after, .sg-snippet-view:after {
  content: "";
  display: table; }
.sg-clearfix:after, .sg-snippet-view:after {
  clear: both; }

.sg-sidebar-list li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

[contentEditable="true"]:focus {
  outline: none; }

.sg-sidebar-list, .sg-color-variables {
  margin: 0; }
  .sg-sidebar-list li, .sg-color-variables li {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    list-style: none; }
    .sg-sidebar-list li a, .sg-color-variables li a {
      text-decoration: none;
      text-transform: none; }

.sg-snippet-container {
  margin-bottom: 44px; }
.sg-snippet-view {
  padding: 40px 0 20px; }
.sg-snippet-title {
  border-bottom: 1px solid #292a2f;
  color: #404041;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin: -20px -40px 0 0;
  padding: 20px 40px 8px 0;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  z-index: 11; }
  .sg-snippet-title a {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 40px;
    bottom: -14px;
    
    height: 29px;
    width: 29px; }
  .sg-snippet-title span {
    border-radius: 100%;
    position: relative;
    z-index: 10;
    display: block;
    box-sizing: content-box;
    height: 28px;
    width: 28px;
    padding: 0;
    margin: 0;
    border: 1px solid #292a2f;
    background: #fff;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    transition: all 300ms linear; }
    .sg-snippet-active .sg-snippet-title span {
      -webkit-transform: rotate(-270deg);
      -moz-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
      -o-transform: rotate(-270deg);
      transform: rotate(-270deg); }
      .sg-snippet-active .sg-snippet-title span:after {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); }
    .sg-snippet-title span:before {
      content: '';
      position: absolute;
      right: 7px;
      bottom: 13px;
      z-index: 10;
      height: 1px;
      width: 14px;
      background: #292a2f;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    .sg-snippet-title span:after {
      content: '';
      position: absolute;
      right: 6px;
      bottom: 13px;
      z-index: 10;
      height: 1px;
      width: 15px;
      background: #292a2f;
      -webkit-transition: all 150ms linear;
      -moz-transition: all 150ms linear;
      transition: all 150ms linear;
      -webkit-transition-delay: 150ms;
      -moz-transition-delay: 150ms;
      transition-delay: 150ms; }
.sg-snippet-description {
  border-bottom: 1px solid #f1f1f2;
  color: #404041;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  padding: 30px 0;
  position: relative; }
  .sg-snippet-description:after {
    border-bottom: 1px solid #f1f1f2;
    content: '';
    display: block;
    position: absolute;
    right: -50px;
    bottom: -1px;
    z-index: 1;
    height: 1px;
    width: 50px; }
  .sg-snippet-description.sg-important {
    padding-left: 40px; }
    .sg-snippet-description.sg-important:before {
      content: '!';
      font-family: "Georgia", sans-serif;
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      line-height: 30px;
      position: absolute;
      top: 22px;
      left: 10px;
      
      height: 30px;
      width: 23px; }
  .sg-snippet-description h2 {
    margin: 40px 0 15px;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3em;
    text-transform: none;
    color: #404041; }
    .sg-snippet-description h2.sg-headline {
      font-size: 40px; }
  .sg-snippet-description h3 {
    margin: 30px 0 15px;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3em;
    text-transform: none;
    color: #404041; }
  .sg-snippet-description h4 {
    margin: 25px 0 15px;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3em;
    text-transform: none;
    color: #404041; }
  .sg-snippet-description h5 {
    margin: 15px 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3em;
    text-transform: none;
    color: #404041; }
  .sg-snippet-description p {
    margin: 15px 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5em;
    text-transform: none;
    color: #404041; }
    .sg-snippet-description p.sg-headline {
      font-size: 26px;
      font-weight: 200;
      margin-bottom: 100px; }
  .sg-snippet-description ul {
    list-style: square;
    margin: 0;
    padding: 0 0 0 40px; }
  .sg-snippet-description ol {
    margin: 0;
    padding: 0 0 0 40px; }
  .sg-snippet-description li ol, .sg-snippet-description li ul {
    margin-top: 15px;
    margin-bottom: 15px; }
  .sg-snippet-description li {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5em;
    text-transform: none;
    margin: 0 0 5px;
    background: none;
    padding: 0; }
  .sg-snippet-description strong {
    font-weight: 700; }
  .sg-snippet-description a {
    color: #404041;
    text-decoration: none;
    border-bottom: #404041 solid 1px; }
    .sg-snippet-description a:hover {
      border-color: #e6e6e6;
      color: #404041; }
.sg-snippet-code {
  background: #FAFAFA;
  border-bottom: 1px solid #f1f1f2;
  font-size: 13px;
  margin: -1px -40px 0 0;
  padding: 0;
  position: relative; }
  .sg-snippet-code:before {
    border-bottom: 1px solid #f1f1f2;
    content: '';
    display: block;
    position: absolute;
    right: -50px;
    bottom: -1px;
    
    height: 1px;
    width: 50px; }
  .sg-snippet-code-inner {
    display: block;
    height: 0;
    position: relative;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
    overflow: auto; }
  .sg-snippet-code pre {
    margin: 0;
    overflow: auto;
    padding: 0 20px;
    white-space: pre; }
    .sg-snippet-code pre code {
      background: transparent;
      border: 0;
      color: #404041;
      padding: 30px 0 25px;
      position: absolute;
      bottom: 0;
       }

.sg-clearfix:before, .sg-snippet-view:before, .sg-clearfix:after, .sg-snippet-view:after {
  content: "";
  display: table; }
.sg-clearfix:after, .sg-snippet-view:after {
  clear: both; }

.sg-sidebar-list li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

[contentEditable="true"]:focus {
  outline: none; }

.sg-sidebar-list, .sg-color-variables {
  margin: 0; }
  .sg-sidebar-list li, .sg-color-variables li {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    list-style: none; }
    .sg-sidebar-list li a, .sg-color-variables li a {
      text-decoration: none;
      text-transform: none; }

.sg-font-wrapper {
  color: #404041;
  padding: 35px 0 30px 0;
  margin-right: -40px;
  border-bottom: 1px solid #f1f1f2;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }
  .sg-font-wrapper:first-child {
    padding-top: 0; }
.sg-font-example {
  font-size: 29px;
  line-height: 50px;
  margin-top: 10px; }

.hljs {
  display: block;
  padding: 0.5em;
  background-color: #f0f0f0; }

.hljs, .hljs-subst, .hljs-tag .hljs-title, .lisp .hljs-title, .clojure .hljs-built_in, .nginx .hljs-title {
  color: #000000; }

.hljs-string, .hljs-title, .hljs-cons#D2B48Ct, .hljs-parent, .hljs-tag .hljs-value, .hljs-rules .hljs-value, .hljs-rules .hljs-value .hljs-number, .hljs-preprocessor, .hljs-pragma, .haml .hljs-symbol, .ruby .hljs-symbol, .ruby .hljs-symbol .hljs-string, .hljs-aggregate, .hljs-template_tag, .django .hljs-variable, .smalltalk .hljs-class, .hljs-addition, .hljs-flow, .hljs-stream, .bash .hljs-variable, .apache .hljs-tag, .apache .hljs-cbracket, .tex .hljs-command, .tex .hljs-special, .erlang_repl .hljs-function_or_atom, .asciidoc .hljs-header, .markdown .hljs-header, .coffeescript .hljs-attribute {
  color: #880000; }

.smartquote, .hljs-comment, .hljs-annotation, .hljs-template_comment, .diff .hljs-header, .hljs-chunk, .asciidoc .hljs-blockquote, .markdown .hljs-blockquote {
  color: #888888; }

.hljs-number, .hljs-date, .hljs-regexp, .hljs-literal, .hljs-hexcolor, .smalltalk .hljs-symbol, .smalltalk .hljs-char, .go .hljs-cons#D2B48Ct, .hljs-change, .lasso .hljs-variable, .makefile .hljs-variable, .asciidoc .hljs-bullet, .markdown .hljs-bullet, .asciidoc .hljs-link_url, .markdown .hljs-link_url {
  color: #008800; }

.hljs-label, .hljs-javadoc, .ruby .hljs-string, .hljs-decorator, .hljs-filter .hljs-argument, .hljs-localvars, .hljs-array, .hljs-attr_selector, .hljs-impor#D2B48Ct, .hljs-pseudo, .hljs-pi, .haml .hljs-bullet, .hljs-doctype, .hljs-deletion, .hljs-envvar, .hljs-shebang, .apache .hljs-sqbracket, .nginx .hljs-built_in, .tex .hljs-formula, .erlang_repl .hljs-reserved, .hljs-prompt, .asciidoc .hljs-link_label, .markdown .hljs-link_label, .vhdl .hljs-attribute, .clojure .hljs-attribute, .asciidoc .hljs-attribute, .lasso .hljs-attribute, .coffeescript .hljs-property, .hljs-phony {
  color: #8888FF; }

.hljs-keyword, .hljs-id, .hljs-title, .hljs-built_in, .hljs-aggregate, .css .hljs-tag, .hljs-javadoctag, .hljs-phpdoc, .hljs-yardoctag, .smalltalk .hljs-class, .hljs-winutils, .bash .hljs-variable, .apache .hljs-tag, .go .hljs-typename, .tex .hljs-command, .asciidoc .hljs-strong, .markdown .hljs-strong, .hljs-request, .hljs-status {
  font-weight: 700; }

.asciidoc .hljs-emphasis, .markdown .hljs-emphasis {
  font-style: italic; }

.nginx .hljs-built_in {
  font-weight: 400; }

.coffeescript .javascript, .javascript .xml, .lasso .markup, .tex .hljs-formula, .xml .javascript, .xml .vbscript, .xml .css, .xml .hljs-cdata {
  opacity: 0.5; }

/*# sourceMappingURL=styleguide.css.map */