@charset "utf-8";

@import 'core/config'; // Framework configuration or other settings

// Frameworks
@import 'bourbon';
@import 'neat';

// Dependencies
@import 'core/colors', // Only color variables.
		'core/assets', // Variables for image urls, local web fonts or other assets your might have.
		'core/variables', // All other variables, including typography, measurements and etc.
		'core/mixins', // Mixins, functions, extenders.
		'core/normalize', // Contains CSS output to fix cross-browser inconsistencies.
		'core/notifications',
		'core/svg-sprite';

// Plugins - Styles of third party plugins
//@import 'plugins/slick';

// Global modules - modules shared between multiple projects (e.g. admin and public sites)
@import 'global/forms';
		//'global/tables',
		//'global/modal';

// Local modules
@import 'site-public/modules/typography';

// Styles for project pages or similar views - styles that are connected by content
@import 'site-public/print',
		'site-public/pages/home';

// Structure
@import 'site-public/layout/layout',
		'site-public/layout/header',
		'site-public/layout/footer';
