@import "../core/all";

.sg {
    &-clearfix {
        @extend %clearfix;
    }

    &-html,
    &-body {
        height: 100%;
    }

    &-body {
        background-color: $bg-body-color;
        margin: 0;
        overflow: auto;
        padding: 0;
    }

    &-page {
        background-color: $bg-page-color;
        border-right: solid 1px $border-color;
        box-sizing: border-box;
        max-width: 1280px;
        min-height: 100%;
        min-width: 980px;
        position: relative;

        &-title {
            border-bottom: 1px solid $border-black-color;
            color: $text-page-color;
            font-family: $font-family;
            font-size: 24px;
            font-weight: $font-weight-extra-bold;
            letter-spacing: 2px;
            line-height: 36px;
            margin: 0 -40px 80px 0;
            padding: 0 40px 4px 0;
            position: relative;
            text-align: right;
            text-transform: uppercase;

            span {
                float: left;
            }
        }
    }

    &-wrapper {
        background: $bg-page-color;
        margin-left: $sidebar-width;
        overflow: hidden;
        padding: 60px 40px 40px 100px;
        position: relative;
        z-index: 10;
    }

    //module SIDEBAR
    &-sidebar {
        &-holder {
            @include position(fixed, 0 null 0 null);
            background: $bg-sidebar-color;
            box-sizing: border-box;
            padding: 60px 40px 30px 40px;
            width: $sidebar-width;
        }

        &-title {
            text-transform: uppercase;

            span {
                color: $text-sidebar-color;
                display: block;
                font-size: 14px;
                line-height: 20px;
                @include font-light();
            }
        }

        &-list {
            @extend %list-style;
            padding: 30px 0 40px;

            > li:before {
                content: attr(data-counter);
                position: absolute;
                right: 0;
                @include transition(all 200ms ease-in-out);
            }

            li {
                background: none;
                color: $text-sidebar-color;
                font-size: 14px;
                line-height: 34px;
                padding: 0 36px 0 0;
                position: relative;

                &:hover,
                &.active {
                    a {
                        color: $text-sidebar-active-color;
                    }
                }

                a {
                    @extend %ellipsis;
                    color: $text-sidebar-color;
                    @include transition(all 200ms ease-in-out);
                    display: block;
                    font-size: 14px;
                }

                ul {
                    margin: 0;
                    padding: 0 0 0 25px;
                }

                li {
                    padding: 0;

                    a {
                        height: 34px;
                        overflow: hidden;
                    }

                    &:before {
                        content: attr(data-counter);
                        @include position(absolute, null -36px null null);
                        @include transition(all 200ms ease-in-out);
                    }

                    &:first-child {
                        &:after {
                            content: '';
                            @include size(7px 17px);
                            top: 0;
                        }
                    }

                    &:after {
                        border-bottom: solid 1px $text-sidebar-color;
                        @include position(absolute, -17px null null -18px);
                        @include size(7px 34px);
                        border-left: solid 1px $text-sidebar-color;
                        content: '';
                    }
                }
            }
        }
    }

    &-project {
        &-name {
            color: $text-light-color;
            font-size: 19px;
            letter-spacing: 1px;
            line-height: 30px;
            margin: 0;
            @include font-semibold();
            padding: 0;
        }
    }

    &-category {
        &-container {
            margin: 0 0 30px;
            padding: 0 0 20px;
        }
    }








    //module TYPOGRAPHY

    &-typography {
        margin: 40px 0 0;
        padding: 0 210px 0 0;
        position: relative;

        &-info {
            @include position(absolute, 5px 0 null null);
            color: $text-page-color;
            display: block;
            width: 145px;
            @include font-regular;
            font-size: 12px;
            line-height: 1.2em;

            &:before,
            &:after {
                content: '';
                display: block;
                background: $text-page-color;
            }

            &:before {
                @include position(absolute, 5px null null -23px);
                @include size(5px);
                border-radius: 100%;
            }

            &:after {
                @include position(absolute, 7px null null -23px);
                @include size(15px 1px);
            }
        }
    }

    //module CODE SAMPLES

    &-code {
        &-sample {
            background: #FAFAFA;
            border-left: solid 2px $border-black-color;
            display: block;
            font-size: 14px;
            line-height: 1.5em;
            margin: 20px 0 20px 35px;
            padding: 2px 10px;
            white-space: pre;
            word-wrap: initial;

            &::-webkit-scrollbar {
                height: 5px;
                width: 5px;
            }

            li & {
                margin-left: 0;
            }
        }
    }
}

//module CODE SAMPLES - FIX (while libsass do not support at-root)

span.sg-code-sample {
    display: inline-block;
    margin: 0 2px;
    padding: 0 5px;
    border: #E4E4E4 solid 1px;
    border-radius: 3px;
    font-family: monospace;
}

#sg-pagination {
    @include position(fixed, 90px null null 0);
}

[contentEditable="true"] {
    @extend %outline-none;
}

.example {
    .columns{
        outline: solid 1px $border-strong-color;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 0;
        outline-offset: -3px;
    }
}
