<h1 class="sg-page-title"><span>1.0</span>Home</h1>
<div class="sg-snippet-container sg-clearfix">
    <div class="sg-snippet-description">
        <h2 class="sg-headline">Welcome</h2>

        <p class="sg-headline">
            A style guide is a set of visual elements and guidelines for specific web project of specific organization.
            The goal of the style guides is to enforce consistency across the project.
        </p>
		
		<h2>For Developers</h2>
		
		<h3>Usage</h3>
		
		<p>Before you start using a style guide you need to include CSS references of your project to the template's header '/styleguide/index.shtml'. Once it's done, paste your html code (snippets) inside custom tags described below.</p>
    
		<h3>Snippets</h3>
		
		<p>All snippets have to be defined inside 'snippets' folder. Each file in the folder represents separate component and will be listed in the sidebar menu as separate item. We use <a href="http://gruntjs.com/" target="_blank">Grunt</a> to automatically update sidebar menu but it can be done manually by updating '\styleguide\scripts\snippets.json' file.</p>
		
		<p>To create new snippet you have to wrap your code with a custom html tag <span class="sg-code-sample">&lt;snippet&gt;</span> and add title attribute to it <span class="sg-code-sample">data-snippet-title</span>. Example:</p>
		
		<pre class="sg-code-sample" contenteditable="true">
			&lt;snippet data-snippet-title="Name of the snippet"&gt;
				&lt;!-- Your code goes here --&gt;
			&lt;/snippet&gt;
		</pre>
	
	</div>
</div>
