@import "../core/all";

//module COLOR SNIPPET

.sg {
    &-color {
        &-block {
            float: left;
            min-height: 170px;
            min-width: 385px;
            position: relative;
            width: 50%;

            &:nth-child(odd) {
                clear: both;
            }

            &.sg-color-block-small {
                min-width: 190px;
                width: 25%;

                .sg-color-palette {
                    position: relative;
                }

                &:nth-child(odd) {
                    clear: none;
                }
            }
        }

        &-palette {
            border: 15px solid $bg-page-color;
            border-radius: 100%;
            box-sizing: border-box;
            $font-family: $font-family;
            font-size: 14px;
            font-weight: $font-weight-normal;
            line-height: 20px;
            @include position(absolute, -15px null null -15px, 10);
            @include size(166px);
            text-align: center;

            &.dark {
                color: $text-light-color;
            }

            &.light {
                box-shadow: 0 0 1px 0 rgba($border-black-color, 0.4) inset;
                color: $text-page-color;
            }

            &-inner {
                display: table-cell;
                padding: 0 7px;
                @include size(166px 135px);
                vertical-align: middle;
            }
        }

        &-variables {
            padding: 7px 80px 39px 90px;
            min-height: 127px;
            @extend %list-style;

            li {
                border-bottom: solid 1px $border-color;
                color: $text-page-color;
                font-size: 13px;
                line-height: 31px;
                padding: 0 0 0 73px;

                &:first-child {
                    border-top: solid 1px $border-color;
                }
            }
        }
    }
}
