@import "../core/all";

//module DEFAULT SNIPPET

.sg {
    &-snippet {
        &-container {
            margin-bottom: 44px;
        }

        &-view {
            padding: 40px 0 20px;
            @extend %clearfix;
        }

        &-title {
            border-bottom: 1px solid $border-black-color;
            color: $text-page-color;
            font-size: 18px;
            font-weight: $font-weight-light;
            line-height: 26px;
            margin: -20px -40px 0 0;
            padding: 20px 40px 8px 0;
            position: relative;
            @include font-light();
            text-transform: capitalize;
            z-index: 11;

            a {
                cursor: pointer;
                display: block;
                @include position(absolute, null 40px -14px null);
                @include size(29px);
            }

            span {
                border-radius: 100%;
                position: relative;
                z-index: 10;
                display: block;
                box-sizing: content-box;
                @include size(28px);
                padding: 0;
                margin: 0;
                border: 1px solid $border-black-color;
                background: $bg-page-color;
                font-size: 20px;
                line-height: 26px;
                text-align: center;
                @include transition(all 300ms linear);

                .sg-snippet-active & {
                    @include transform(rotate(-270deg));

                    &:after {
                        @include transform(rotate(90deg));
                    }
                }

                &:before {
                    content: '';
                    @include position(absolute, null 7px 13px null, 10);
                    @include size(14px 1px);
                    background: $border-black-color;
                    @include transform(rotate(90deg));
                }

                &:after {
                    content: '';
                    @include position(absolute, null 6px 13px null, 10);
                    @include size(15px 1px);
                    background: $border-black-color;
                    @include transition(all 150ms linear);
                    @include transition-delay(150ms);
                }
            }
        }

        &-description {
            border-bottom: 1px solid $border-light-color;
            color: $text-page-color;
            font-family: $font-family;
            font-size: 14px;
            font-weight: $font-weight-normal;
            line-height: 1.5em;
            padding: 30px 0;
            position: relative;

            &:after {
                border-bottom: 1px solid $border-light-color;
                content: '';
                display: block;
                @include position(absolute, null -50px -1px null, 1);
                @include size(50px 1px);
            }

            &.sg-important {
                padding-left: 40px;

                &:before {
                    content: '!';
                    font-family: "Georgia", sans-serif;
                    text-align: center;
                    font-size: 28px;
                    font-weight: bold;
                    line-height: 30px;
                    @include position(absolute, 22px null null 10px);
                    @include size(23px 30px);
                }
            }

            h2 {
                margin: 40px 0 15px;
                padding: 0;
                @include font-extrabold;
                font-size: 26px;
                line-height: 1.3em;
                text-transform: none;
                color: $text-page-color;

                &.sg-headline{
                    font-size: 40px;
                }
            }

            h3 {
                margin: 30px 0 15px;
                padding: 0;
                @include font-bold;
                font-size: 20px;
                line-height: 1.3em;
                text-transform: none;
                color: $text-page-color;
            }

            h4 {
                margin: 25px 0 15px;
                padding: 0;
                @include font-bold;
                font-size: 16px;
                line-height: 1.3em;
                text-transform: none;
                color: $text-page-color;
            }

            h5 {
                margin: 15px 0;
                padding: 0;
                @include font-bold;
                font-size: 14px;
                line-height: 1.3em;
                text-transform: none;
                color: $text-page-color;
            }

            p {
                margin: 15px 0;
                padding: 0;
                font-weight: $font-weight-normal;
                font-size: 14px;
                line-height: 1.5em;
                text-transform: none;
                color: $text-page-color;

                &.sg-headline{
                    font-size: 26px;
                    font-weight: 200;
                    margin-bottom: 100px;
                }
            }

            ul {
                list-style: square;
                margin: 0;
                padding: 0 0 0 40px;
            }

            ol{
                margin: 0;
                padding: 0 0 0 40px;
            }

            li ol,
            li ul {
                margin-top: 15px;
                margin-bottom: 15px;
            }

            li {
                font-weight: $font-weight-normal;
                font-size: 14px;
                line-height: 1.5em;
                text-transform: none;
                margin: 0 0 5px;
                background: none;
                padding: 0;
            }

            strong {
                font-weight: $font-weight-bold;
            }

            a {
                color: $text-page-color;
                text-decoration: none;
                border-bottom: $text-page-color solid 1px;

                &:hover{
                    border-color: $border-color;
                    color: $text-page-color;
                }
            }
        }

        &-code {
            background: #FAFAFA;
            border-bottom: 1px solid $border-light-color;
            font-size: 13px;
            margin: -1px -40px 0 0;
            padding: 0;
            position: relative;

            &:before {
                border-bottom: 1px solid $border-light-color;
                content: '';
                display: block;
                @include position(absolute, null -50px -1px null);
                @include size(50px 1px);
            }

            &-inner {
                display: block;
                height: 0;
                position: relative;
                @include transition(all 400ms ease);
                overflow: auto;
            }

            pre {
                margin: 0;
                overflow: auto;
                padding: 0 20px;
                white-space: pre;

                code {
                    background: transparent;
                    border: 0;
                    color: $text-page-color;
                    padding: 30px 0 25px;
                    @include position(absolute, null null 0 null);
                }
            }
        }
    }
}

