@import "../core/all";

//module FONTS SNIPPET

.sg {
    &-font {
        &-wrapper {
            color: $text-page-color;
            padding: 35px 0 30px 0;
            margin-right: -40px;
            border-bottom: 1px solid $border-light-color;
            font-size: 14px;
            @include font-regular;

            &:first-child {
                padding-top: 0;
            }
        }

        &-example {
            font-size: 29px;
            line-height: 50px;
            margin-top: 10px;
        }
    }
}