<div class="sg-snippet-container sg-clearfix {{snippetActiveClass}}">
	<h2 class="sg-snippet-title js-code-toggle" id="{{snippetHash}}">{{snippetTitle}}<a ng-click="toggleSnippet()"><span class="{{snippetActiveClass}}"></span></a></h2>
	<div class="sg-snippet-code">
		<span class="sg-snippet-code-inner" ng-style="getSnippetHeight()"></span>
	</div>
	<div class="sg-snippet-description" ng-if="snippetDescription">{{snippetDescription}}</div>
	<div class="sg-snippet-view" ng-transclude></div>
</div>